.Bg {
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: rgb(54, 48, 48);
    border-top: rgb(238, 119, 8) solid 7px;
    display: inline-block;
    width: 100%;
   
    bottom: 0px;
}
.Cont{
    margin-left: 50px;
    margin-top: 10px;
    width: 25%;
    display: inline-block;
    
}
.Head{
    color:rgb(238, 119, 8);
    text-shadow: orangered 5px;
    padding: 5px;
    border-bottom: black solid 1px;
    
    
    box-shadow: black 1px;
    border-color: silver;
}
.Info{
    color: blanchedalmond;
    font-size: 11px;
    display: block;
    font-display: inherit;
    margin-block-start: 0em;
    margin-block-end: 0em;
}